name: Metrics Introduction

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate introduction SVG
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: JavierTarazona06
          filename: metrics.introduction.svg
          base: header
          plugin_introduction: yes
          plugin_introduction_title: yes
